body{
    background: #ccc;
}
.mainHeader{
    color:#bbb;
    text-shadow: 2px 2px 1px rgba(0,0,0,.6);
}

.buttonsContainer{
    border-top: 2px solid #a5a5a5;
}

.buttonsContainer .buttonsContainer__button{
    background-image: linear-gradient(to top, #848484, #afafaf);
    border:none;
    padding:1em;
    margin:1em 0;
    cursor:pointer;
    outline:none;
}

.buttonsContainer .buttonsContainer__button:hover{
    background-image: linear-gradient(to top, #afafaf, #848484);
}
.buttonsContainer .buttonsContainer__button:active{
    background-image: linear-gradient(to top, #868686 , #565656);
}
.buttonsContainer .buttonsContainer__result--number{
    font-weight: bold;
}